<a href="/dashboard">&larr; Back</a>
<div class="admin-title">
  <h2>Add New Post</h2>
</div>

<form action="/add-post" method="POST" enctype="multipart/form-data">

  <label for="title"><b>Title</b></label>
  <input type="text" placeholder="Post Title" name="title">

  <label for="image"><b>Select Image</b></label>
  <input type="file" name="image" placeholder="Image" required/>

  <label for="category"><b>Category</b></label>
  <select name="category">
    <option value="technology">Technology</option>
    <option value="science">Science</option>
    <option value="health">Health</option>
    <option value="politics">Politics</option>
    <option value="sports">Sports</option>
    <option value="entertainment">Entertainment</option>
    <option value="environment">Environment</option>
    <option value="education">Education</option>
    <option value="lifestyle">Lifestyle</option>
    <option value="religion">Religion</option>
    <option value="economic">Economics</option>
    <!-- Add more options as needed -->
  </select>

  <label for="body"><b>Content</b></label>
  <textarea name="body" cols="50" rows="10"></textarea>

  <input type="submit" value="Add" class="btn">

</form>
