<footer class="footer">
  <div class="footer__left">
    <!-- Bagian kiri footer dengan gambar/logo -->
    <img src="img/untar.webp" alt="Logo" class="footer__logo">
  </div>
  <div class="footer__center">
    <!-- Bagian tengah footer dengan paragraf singkat -->
    <p>Backend Project UTS</p>
    <p>2024</p>
  </div>
  <div class="footer__right">
    <!-- Bagian kanan footer dengan nama seseorang -->
    <p>© <%= new Date().getFullYear(); %> Irvan Lewenusa S.kom., M.Kom.</p>
  </div>
</footer>
