<header class="header">
  <a class="header__logo">
    <span class="profile-icon">👤</span> Admin Panel
  </a>

  <nav class="header_a_nav">
    <ul>
      <li>
        <a href="/" class = >Home</a>
      </li>
      <li>
        <a href="/about" class = >About</a>
      </li>
      <li>
        <a href="/admin" class="active">Login</a>
      </li>
    </ul>

  </nav>

  <div class="header__button">
    <a href="/logout">
      Logout
    </a>
  </div>

</header>
