<header class="header">
  <a href="/" class="header__logo">
    <span class="logo-icon">📰</span>
    AreBlog
  </a>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/" id="homeLink">Home</a>
      </li>
      <li>
        <a href="/about" id="aboutLink">About</a>
      </li>
      <% if (user) { %>
        <li>
          <a href="/profile" id="profileLink"><%= user.username %></a>
        </li>
        <li>
          <a href="/logout">Logout</a>
        </li>
      <% } else { %>
        <li>
          <a href="/admin" id="adminLink">Login</a>
        </li>
      <% } %>
    </ul>
  </nav>

  <div class="header__button">
    <button class="searchBtn" aria-expanded="false">
      Search
      <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.79167 13.4583C10.9213 13.4583 13.4583 10.9213 13.4583 7.79167C13.4583 4.66205 10.9213 2.125 7.79167 2.125C4.66205 2.125 2.125 4.66205 2.125 7.79167C2.125 10.9213 4.66205 13.4583 7.79167 13.4583Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M14.875 14.875L11.7938 11.7938" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
  var path = window.location.pathname;
  var homeLink = document.getElementById("homeLink");
  var aboutLink = document.getElementById("aboutLink");
  var profileLink = document.getElementById("profileLink");
  var adminLink = document.getElementById("adminLink");

  if (path === "/") {
    homeLink.classList.add("active");
  } else if (path === "/about") {
    aboutLink.classList.add("active");
  } else if (path === "/profile") {
    profileLink.classList.add("active");
  } else if (path === "/admin") {
    adminLink.classList.add("active");
  }
});
</script>

</header>
