<h1>About Us</h1>

<div class="container-about">
    <div class="member-profile">
        <img src= "img/anggota.png"alt="Alfian">
        <h3>Alfian Indrajaya</h3>
        <p>535220</p>
    </div>
    <div class="member-profile">
        <img src="img/anggota.png" alt="Javier">
        <h3>Javier Gustvin</h3>
        <p>535220140</p>
    </div>
    <div class="member-profile">
        <img src="img/anggota.png" alt="Arethusa">
        <h3>Arethusa Rayhan</h3>
        <p>535220164</p>
    </div>
</div>