<div class="page-wrap">
    <div class="error_container text-center">
        <span class="display-1 d-block">404</span>
        <p class="lead mb-4">Terjadi Error Pada Server</p>
        <a class="back" href="/">Balik ke Beranda</a>
    </div>
</div>
