<center>
  <h1><%= data.title %></h1>
  <% if (data.image) { %>
      <img src='/uploads/<%=data.image%>' class="img-thumbnail" alt="">
    <% } else { %>
      <p>No image available</p>
    <% } %>
    
  <article class="article"><%= data.body %></article> 
  </center>